*/bin/
*.cache
*.classpath
*.project
*.htm
*.html
*.xml
*.log
*.export
*.class
*/project/project/
*/project/target/
*/target/
*/.idea
*.exe
*.o
*.bin
*.layout
*.*~
*.PNG
*.db
*.properties
#*#
fourmis_sbt/*/target/*
elliptique_sbt/*/target/*
MasterMind/*/target/*
carte1/*/target/*
PageBlanche_sbt/*/target/*

